body 
{
    background-color: white;
}

#body1
{
    background: white;
}


#HeaderContainer
{
    background-color:Blue;
}
#bankicon
{
    height : 150px ;
    width : 150px ;
}
#header1
{
    background : black;
}
#HeaderContainer
{
    background : Silver;
    height: 138px;
}
#bankName
{
    
    float:left;
    height: 39px;
}
#name
{
    font-family: 'Old English Text MT';
    font-size: xx-large; 
    font-weight: normal; 
    font-style: normal; 
    color: Red;
    height: 38px;
}

/*now is the time for menu*/


#menu {
	width: 940px;
	height: 80px;
	margin: 0 auto;
	padding: 0;
}

#menu ul {
	margin: 0;
	padding: 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
    height: 36px;
}

#menu a {
    display: block;
    height: 35px;
    margin-right: 1px;
    padding: 16px 40px 0px 40px;
    background: url('../Images/img04.gif');/* no-repeat right top;*/
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #000000;
    border: none;
}
/*
#menu a:hover, #menu .current_page_item a {
	/*background: url(Images/img05.gif) repeat-x left top;*/
	background:url('..Images/img05.gif');
	text-decoration: none;
	color: #FFFFFF;
}*/

#menu .current_page_item a {
}